*
{
    box-sizing: border-box;
}
h1 {
    text-align: center;
    background-color: rgb(216, 176, 117);
    color: rgb(0, 0, 0);
    font-size: 3vw;
}
form {
    display: flex;
}
#form {
    display: none;
}
input,
body {
    background-color: rgb(208, 241, 253);
  }
button
{
    border:1px solid rgb(216, 176, 117);
    font-size:3vw;
    height:6vw;
    padding:0 6vw;
    outline: 0;
    line-height:6vw;
    margin:0;
}
input
{
    border-radius:4vw 0 0 4vw;
}
button
{
    border-radius:0 4vw 4vw 0;
    background: rgb(216, 176, 117);
}
#chats
{
    font-size:4vw;
}
#chats dt
{
    margin: 2vw 0;
    border:1px solid rgb(255, 255, 255);
    border-radius:3vw;
    padding:1vw 3vw;
    display: inline-block;
}
#chats dt+dd
{
    margin-left: 8vw;
    position: relative;
    background-color:rgb(216, 176, 117);
    border-radius:3vw;
    padding:1vw 3vw;
}
#chats dt+dd::before
{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -6vw;
    margin-top: -7vw;
    border: 3vw solid transparent;
    border-right: 8vw solid rgba(216, 176, 117, 0.884);
    transform: rotate(40deg);
    z-index: -1;
}
